In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [47]:
titanic=pd.read_csv('titanic/titanic_train.csv')

In [48]:
titanic
print(titanic.shape)

(891, 12)

In [49]:
titanic['Cabin']
def checking_blank(column):
    count=0
    for i in titanic[column]:
        #print(i)
        if str(i)=='nan':
            count+=1
    return count        
print(checking_blank('Cabin'))

687

In [50]:
titanic['Name'].unique()
len(titanic['Name'].unique())

891

In [51]:
titanic=titanic.drop(columns='Name')

In [52]:
titanic.shape

(891, 11)

In [ ]:
titanic=titanic.drop(columns='PassengerId')

In [ ]:
titanic

In [ ]:
print(len(titanic['Age'].unique()))
print(len(titanic['Ticket'].unique()))
print(len(titanic['Cabin'].unique()))
print(len(titanic['Embarked'].unique()))
print(len(titanic['Fare'].unique()))
print(len(titanic['Parch'].unique()))

In [ ]:
print(checking_blank('Age'))
print(checking_blank('SibSp'))
print(checking_blank('Parch'))
print(checking_blank('Ticket'))
print(checking_blank('Fare'))
#print(checking_blank('Cabin'))
print(checking_blank('Sex'))
print(checking_blank('Embarked'))

In [ ]:
ticket=LabelEncoder()
titanic['Tickets']=ticket.fit_transform(titanic['Ticket'])

In [ ]:
titanic=titanic.drop(columns='Cabin')

In [ ]:
print(len(titanic['Tickets'].unique()))
titanic=titanic.dropna(subset=['Embarked'])

In [ ]:
embark=LabelEncoder()
titanic['Embarkeds']=embark.fit_transform(titanic['Embarked'])

In [ ]:
titanic['Embarked']

In [ ]:
titanic

In [ ]:
se=LabelEncoder()
titanic['sex']=se.fit_transform(titanic['Sex'])

In [ ]:
titanic

In [ ]:
titanic=titanic.drop(columns=['Ticket','Embarked','Sex'])

In [ ]:
titanic

In [ ]:
print(checking_blank('Age'))
print(checking_blank('SibSp'))
print(checking_blank('Parch'))
print(checking_blank('Tickets'))
print(checking_blank('Fare'))
#print(checking_blank('Cabin'))
print(checking_blank('sex'))
print(checking_blank('Embarkeds'))

In [ ]:
titanic_predict_for_age=titanic[titanic.isnull().any(axis=1)]

In [ ]:
titanic_train_for_age=titanic.dropna()

In [ ]:
titanic_train_for_age

In [ ]:
y=titanic_train_for_age.iloc[:,2]
x=titanic_train_for_age.drop(columns=['Age'])

In [ ]:
x
scaler=StandardScaler()
scaled_titanic_x_age=scaler.fit_transform(x)
scaled_titanic_x_age

In [ ]:
y

In [ ]:
x=titanic.iloc[:,1:9]
y=titanic.iloc[:,0]
scaler=StandardScaler()
scaled_titanic_x=scaler.fit_transform(x)

In [ ]:
scaled_titanic_x